.ui.fluid.three.item.menu #logo {
    font-family: 'Kalam', cursive;
    font-size: 24px;
}

#logo span{
    color: #f95f7b
}

.ui.fluid.three.item.menu .item{
        font-size: 18px;
}
.ui.segment.pushable,
.ui.segment.pushable .ui.inverted.segment {
    background-color: #1b222c;
}