* {
    box-sizing: border-box;
}

body {
    color: #fff;
    background: rgb(40, 70, 102) url('/img/grid.png');
    font-family: 'Roboto', sans-serif;}

h1.header, h2.header, h3.header,
.ui.header,
.ui.list .item .header,
.ui.menu {
    font-family: 'Roboto', sans-serif;
}

h1.ui.inverted.header {
    font-size: 3em;
    margin: 76px 0 30px;
}

h2.ui.inverted.header {
    margin: 50px 0 30px 0;
}

.ui.item.menu {
    margin-bottom: 0;
    border-radius: 0;
}

.ui.fluid.three.item.menu #logo {
    font-family: 'Kalam', cursive;
    font-size: 24px;
}

span#logo {
    font-family: 'Kalam', cursive;
}

#logo span{
    font-family: 'Kalam', cursive;
    color: #f95f7b
}

.ui.fluid.three.item.menu .item{
        font-size: 18px;
}

.ui.segment.pushable {
    background: #212b36 url('/img/grid.png');
    min-height:50em;
    margin-top: 0;
    border-radius: 0;
}

.ui.container{
    width: 70%;
}

.ui.container p {
    letter-spacing: 1.3px;
    font-size: 20px;
    line-height: 40px;
}

.ui.modal p{
    font-size: 10px;
}

.ui.buttons {
    margin-top: 50px;
}

.ui.positive.button{
    background-color: #38b5b5;
}

.ui.inverted.list .item.card h2.header a {
    color: #38b5b5 !important;
}

.ui.positive.button:hover{
    background-color: #329FA3;
}

.ui.inverted.list .item.card h2.header a:hover {
    color: #329FA3 !important;
}

.ui.inverted.list .item.card h2.header {
    margin-bottom: 20px;
}

.ui.divided.inverted.list .item.card,
.ui.divided.inverted.list .item.badge-card {
    padding: 30px;
    margin-bottom: 20px;
    background-color: #2d3948;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui.divided.inverted.list .item.badge-card {
    padding: 20px;
}

.ui.divided.inverted.list .item.badge-card {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 400px;
    margin-right: 30px;
}

.ui.divided.inverted.list .item.badge-card img{
    margin: 30px auto 30px
}

.ui.divided.inverted.list .item.badge-card .list .item,
.ui.divided.inverted.list .item.card .list .item{
    margin-bottom: 5px
}

.ui.divided.inverted.list .item.badge-card .list .item:last-child,
.ui.divided.inverted.list .item.card .list .item:last-child{
    text-transform: uppercase;
    margin-top: 2px;
    font-weight: bold;
    font-size: 16px;
}

ui.inverted.four.statistics.card {
    background-color: #2d3948;
}

.container .centerBox {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui.modal .center-text.content {
    text-align: center;
    margin-top: 100px
}

.ui.modal .center-text.content p{
    font-size: 28px;
}

.ui.small.image.qrImage{
    margin-right: 30px;
}

.list.item {
    margin: 5px 0;
}

@media print {
    *, body, html,
    .ui.segment.pushable,
    .ui.divided.inverted.list .item.badge-card,
    .ui.inverted.list .item .header {
        background-color: #fff;
        color: #000;
    }
    .ui.item.menu {
        display: none;
    }
    .ui.container{
        width: 100%;
    }
}