* {
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #1a232c;
}

.ui.item.menu {
    margin-bottom: 0;
    border-radius: 0;
}

.ui.fluid.three.item.menu #logo {
    font-family: 'Kalam', cursive;
    font-size: 24px;
}

#logo span{
    color: #f95f7b
}

.ui.fluid.three.item.menu .item{
        font-size: 18px;
}

.ui.segment.pushable {
    background-color: #1a232c;
    min-height:50em;
    margin-top: 0;
    border-radius: 0;
}

.ui.container{
    width: 50%;
    margin-top: 100px
}

.ui.container p {
    letter-spacing: 2px;
    line-height: 2;
    font-size: 20px;
}

.ui.buttons {
    margin-top: 50px;
}

.ui.positive.button {
    background-color: #38b5b5;
}

.ui.positive.button:hover {
    background-color: #329FA3;
}

/* .ui.inverted.segment .ui.header {
    background-color: #000
} */

.ui.divided.inverted.list .item.card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #2d3948;
}

/* .container .centerBox {
    margin: 0 auto;
} */

.ui.modal .center-text.content {
    text-align: center;
    margin-top: 100px
}

.ui.modal .center-text.content p{
    font-size: 28px;
}
